 # Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Project-specific directories
uploads/
audio/

# Virtual environments
venv/
env/

# Environment variables
.env

# Editor files
.vscode/
.idea/
.DS_Store